@import "tailwindcss";

@theme {
  --font-ephesis: "Ephesis", cursive;
  --font-times: "Times New Roman", Times, serif;
}
#root {
  width: 100%;
  max-width: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}

