@import "tailwindcss";

@theme {
  --font-ephesis: "Ephesis", cursive;
  --font-times: "Times New Roman", Times, serif;
  --color-sage: #8D9B6A;
  --color-blush: #E8DFE0;
  --color-slate: #8A9EA7;
  --color-sand: #DAB692;
  --color-cocoa: #8F5B34;
}

#root {
  width: 100%;
  max-width: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-anchor: none;
  zoom:0.85;
}

